.bee-string-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 83px;
    &__logo {
        width: 155px;
    }
}

.bee-string-navbar-collapse {
    &__nav {
        display: flex;
        flex: 1;
        justify-content: end;
    }
    &__nav-item {
        font-weight: 600;
        font-size: 16px;
        margin-right: 35px;
        &--active {
            color: #F5C722 !important;
        }
        &__link {
            &:hover {
                color: #F5C722 !important;
            }
        }
        &:last-child {
            margin-right: 47px;
        }
    }
}

.button {
    border: 1px solid #ED6D09;
    border-radius: 35px;
    background-color: transparent;
    padding: 2px 5px;
    color: #ED6D09;
    box-sizing: border-box;
    width: 120px;
    height: 46px;
}

.button-lg {
    width: 240px;
    height: 60px;
}

.signup-button {
    @extend.button;
    background-color: #ED6D09;
    color: white;
    margin-left: 10px;
}

.hero-section {
    background-image: url('/assets/images/hero-section-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1faff;
    box-sizing: border-box;
    background-position: bottom;
    &__content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__info {
        padding-top: 0;
        padding-left: 0;
        color: white;
        h1 {
            font-Weight: 700;
            font-Size: 50px;
        }
        p {
            font-Weight: 500;
            font-Size: 20px;
            padding-top: 24px;
            color: rgb(174, 170, 170);
        }
        h3 {
            font-Weight: 600;
            font-Size: 27px;
            padding-top: 8px;
        }
        img {
            width: 223px;
            padding: 26px 5px 0px 7px;
        }
    }
    &__image-container {
        padding: 4px 80px 20px 110px;
        img {
            width: 100%;
        }
    }
}

.how-to-work-section {
    padding-bottom: 80px;
    padding-top: 40px;
    background-color: #f1faff;
    box-sizing: border-box;
    &__heading {
        h1 {
            font-Weight: 600;
            font-Size: 45px;
            line-height: 45px;
            text-align: center;
        }
    }
    &__content {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 60px;
    }
    &__box {
        &:last-child {
            margin-bottom: 0px;
        }
        margin-bottom: 0;
        flex: 1;
        align-items: center;
        display: flex;
        flex-direction: column;
        img {
            padding-bottom: 11px;
        }
        h1 {
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;
            text-align: center;
        }
        p {
            font-weight: 400;
            line-height: 21px;
            text-align: center;
            font-size: 16px;
            padding-top: 6px;
        }
    }
}

.withdraw-your-money-section {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    &__right-decoration {
        display: block;
        position: absolute;
        top: -169px;
        right: 0px;
    }
    &__left-decoration {
        display: block;
        position: absolute;
        bottom: 28px;
        left: -36px;
    }
    &__heading {
        h1 {
            font-Weight: 600;
            font-Size: 45px;
            line-height: 1;
            text-align: center;
        }
    }
    &__content {
        padding-top: 45px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
    }
    &__box {
        margin-bottom: 0px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            padding-bottom: 2px;
            margin-bottom: 25px;
        }
        p {
            padding-bottom: 13px;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.what-are-surveys-about-section {
    position: relative;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: 60px;
    background-color: #FFF2EF;
    box-sizing: border-box;
    &__heading {
        position: relative;
        h1 {
            text-align: center;
            font-Weight: 600;
            font-Size: 45px;
            line-height: 45px;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 50px;
        row-gap: 25px;
        column-gap: 25px;
    }
    &__surveys {
        padding: 40px 40px;
        border: 0.5px solid grey;
        border-radius: 20px;
        background-color: white;
        box-sizing: border-box;
        text-align: center;
        text-align: left;
        h1 {
            font-Weight: 600;
            font-Size: 24px;
            line-height: 34px;
            text-align: center;
        }
        p {
            font-Weight: 500;
            font-Size: 16px;
            line-height: 2;
            padding-top: 16px;
        }
    }
    &__decoration-right {
        position: absolute;
        display: block;
        top: -100px;
        right: -22px;
    }
}

.your-opinion-matter-section {
    padding-bottom: 20px;
    background-image: url('/assets/images/opinion-section-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-position: center;
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__left {
        width: 50%;
        padding: 10px 64px 70px 26px;
        img {
            width: 100%;
        }
    }
    &__right {
        width: 50%;
        padding-top: 207px;
        padding-left: 50px;
        text-align: center;
    }
    &__info {
        h1 {
            text-align: center;
            box-sizing: border-box;
            color: white;
            font-weight: 800;
            font-size: 36px;
            line-height: 54px;
        }
        p {
            padding-bottom: 35px;
            font-size: 28px;
            line-height: 42px;
            text-align: center;
            font-weight: 400;
            box-sizing: border-box;
            color: white;
        }
        button {
            margin-left: 0px;
            border: 1px solid white;
            border-radius: 35px;
            background-color: white;
            padding: 2px 5px;
            color: #ED6D09;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 28px;
            line-height: 42px;
        }
    }
}

.where-does-it-come-from-section {
    padding-top: 60px;
    padding-bottom: 60px;
    &__heading {
        h1 {
            font-weight: 600;
            font-size: 45px;
            line-height: 68px;
            text-align: center;
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    &__box {
        width: 33.3%;
        margin-left: 10px;
        &:first-child {
            margin-left: 0px;
        }
    }
    &__stats {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            font-weight: 500;
            font-size: 62px;
        }
        h2 {
            font-weight: 500;
            font-size: 35px;
        }
    }
    &__text {
        text-align: center;
        font-weight: 400;
        margin-top: 20px;
        font-size: 16px;
        line-height: 24px;
    }
    &__img-1 {
        background-image: url('/assets/images/where-does-section-bg1.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    &__img-2 {
        background-image: url('/assets/images/where-does-section-bg2.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    &__img-3 {
        background-image: url('/assets/images/where-does-section-bg3.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.better-product-section {
    background-image: url('/assets/images/better-product-bg.png');
    padding: 46px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__content {
        display: flex;
        flex-direction: column-reverse;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__text {
        padding: 0px 0px 60px 36px;
        flex: 1;
        h1 {
            font-weight: 600;
            font-size: 45px;
            line-height: 45px;
        }
        p {
            width: 335px;
            font-weight: 500;
            font-size: 18px;
            line-height: 2;
            padding-top: 26px;
        }
    }
    &__img {
        img {
            width: 100%;
            display: none;
        }
    }
}

.uniqueness-section {
    background-image: url('/assets/images/more-unique-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 60px;
    background-position: center;
    &__heading {
        text-align: center;
        font-weight: 600;
        line-height: 45px;
        margin: 0px;
        font-size: 45px;
    }
    &__content {
        margin-top: 60px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
    &__card {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        flex-direction: row;
    }
    &__img-content {
        width: 36%;
        img {
            border-top-right-radius: 25px;
            border-top-right-radius: 0px;
        }
    }
    &__info {
        padding: 20px 25px;
        flex: 1;
        h3 {
            font-weight: 700;
            line-height: 30px;
            font-size: 24px;
        }
        p {
            font-weight: 500;
            line-height: 2;
            font-size: 16px;
        }
    }
}

.more-unique-things-section {
    background-color: rgba(102, 102, 102, 0.6);
    color: white;
    padding-bottom: 60px;
    padding-top: 40px;
    h1 {
        font-weight: 600;
        font-size: 30px;
        line-height: 2;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 0px;
    }
}

.happy-earners-section {
    padding-top: 60px;
    padding-bottom: 60px;
    &__heading {
        h1 {
            font-weight: 600;
            line-height: 1;
            text-align: center;
            font-size: 45px;
        }
    }
    &__content {
        display: grid;
        row-gap: 30px;
        column-gap: 30px;
        padding-top: 60px;
        grid-template-columns: repeat(3, 1fr);
    }
    &__image-container {
        background-color: #ED6D09;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100px;
        height: 100px;
        img {
            width: 100%;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__card {
        background-image: url('/assets/images/happy-earners-section.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        padding: 25px 48px 30px;
        text-align: left;
        margin: 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 2;
            padding-bottom: 20px;
            font-size: 16px;
        }
        h3 {
            font-weight: 600;
            line-height: 24px;
            padding-top: 0px;
            padding-bottom: 8px;
            font-size: 20px;
        }
        h6 {
            font-weight: 500;
            font-size: 16px;
            line-height: 15px;
            margin-bottom: 0px;
        }
        &:hover {
            background-image: url('/assets/images/happy-earners-section1.png');
            margin-top: -20px;
            p {
                color: white;
            }
            box-shadow:none;
        }
    }
}

.bee-string-footer {
    background-image: url('/assets/images/footer-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 30px;
    }
    &__logo {
        margin-bottom: 23px;
        img {
            width: 230px;
        }
    }
    &__box {
        &--span {
            grid-column: span none;
        }
        p {
            padding-right: 10px;
            font-weight: 500;
            line-height: 2;
            font-size: 16px;
            margin-bottom: 30px;
        }
        img {
            width: 100%;
        }
        h5 {
            font-Weight: 600;
            font-size: 20px;
            margin-bottom: 0;
            font-size: 22px;
        }
        ul {
            padding: 0px;
            margin: 0px;
            padding-left: 7px;
            font-weight: 400;
            font-size: 20px;
            line-height: 1;
            list-style-position: inside;
            li {
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
        a {
            font-weight: 400;
            font-size: 20px;
            line-height: 2;
            color: #108ECBB0;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__copy-right {
        margin-top: 70px;
        background-color: black;
        color: white;
        font-Weight: 500;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 14px 0px;
        p {
            margin: 0px;
            font-size: 14px;
        }
    }
}