@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Square+Peg&display=swap');
// pages
@import "landingpage";
// responsive
@import "responsive";
@import "responsive-landingpage";
// common styling
body {
    font-family: 'poppins';
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
}