@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Square+Peg&display=swap');
body {
    font-family: 'poppins';
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
}

.navbar {
    padding: 0;
    height: 83px;
}

.bee-string-navbar {
    &__nav {
        display: flex;
        flex: 1;
        justify-content: end;
    }
    &__nav-item {
        font-weight: 600;
        font-size: 16px;
        margin-right: 36px;
        &--active {
            color: #F5C722 !important;
        }
        &__link {
            &:hover {
                color: #F5C722 !important;
            }
        }
        &:last-child {
            margin-right: 47px;
        }
    }
}

.button {
    border: 1px solid #ED6D09;
    border-radius: 35px;
    background-color: transparent;
    padding: 2px 5px;
    color: #ED6D09;
    margin: 3px;
    box-sizing: border-box;
    width: 120px;
    height: 46px;
}

.button-lg {
    width: 240px;
    height: 60px;
}

.signup-button {
    @extend.button;
    background-color: #ED6D09;
    color: white;
}

.hero-section {
    background-image: url('/assets/images/hero-section-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1faff;
    box-sizing: border-box;
    background-position: center;
    height: 515px;
    &__content {
        padding-bottom: 60px;
    }
    &__left {
        padding-top: 95px;
        color: white;
        h1 {
            font-Weight: 700;
            font-Size: 50px;
        }
        p {
            font-Weight: 500;
            font-Size: 20px;
            padding-top: 24px;
            color: rgb(174, 170, 170);
        }
        h3 {
            font-Weight: 600;
            font-Size: 27px;
            padding-top: 5px;
        }
        img {
            padding-top: 27px;
            padding-left: 10px;
        }
    }
    &__right {
        img {
            padding: 62px 0 0 114px;
        }
    }
}

.how-to-work-section {
    padding-bottom: 60px;
    padding-top: 40px;
    background-color: #f1faff;
    box-sizing: border-box;
    &__heading {
        h1 {
            font-Weight: 600;
            font-Size: 45px;
            text-align: center;
        }
    }
    &__content {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    &__box {
        flex: 1;
        align-items: center;
        display: flex;
        flex-direction: column;
        img {
            padding-bottom: 11px;
        }
        h1 {
            font-weight: 500;
            font-size: 30px;
            text-align: center;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            padding-top: 6px;
        }
    }
}

.withdraw-your-money-section {
    padding-top: 66px;
    padding-bottom: 65px;
    position: relative;
    &__right-decoration {
        position: absolute;
        top: -169px;
        right: 0px;
    }
    &__left-decoration {
        position: absolute;
        bottom: 28px;
        left: -36px;
    }
    &__heading {
        h1 {
            font-Weight: 600;
            font-Size: 45px;
            text-align: center;
        }
    }
    &__content {
        padding-top: 45px;
        padding-bottom: 55px;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0px;
    }
    &__box {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            padding-bottom: 23px;
        }
        p {
            padding-bottom: 13px;
            text-align: center;
        }
    }
}

.what-are-surveys-about-section {
    padding-bottom: 5px;
    padding-top: 36px;
    background-color: #FFF2EF;
    box-sizing: border-box;
    &__heading {
        h1 {
            text-align: center;
            font-Weight: 600;
            font-Size: 45px;
        }
    }
    &__content {
        padding-top: 43px;
        padding-bottom: 36px;
    }
    &__surveys {
        height: 359px;
        width: 270px;
        border: 0.5px solid grey;
        border-radius: 20px;
        background-color: white;
        box-sizing: border-box;
        margin: 10px;
        h1 {
            padding-top: 46px;
            text-align: center;
            font-Weight: 600;
            font-Size: 24px;
            Line-height: 34px;
        }
        p {
            padding-top: 5px;
            padding-left: 22px;
            padding-right: 22px;
            font-Weight: 500;
            font-Size: 16px;
            Line-height: 32px;
            text-align: left;
        }
    }
    &__girl-png {
        position: relative;
        left: -20px;
        top: -187px;
        width: 270px;
        height: 359px;
    }
}

.your-opinion-matter-section {
    background-image: url('/assets/images/opinion-section-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 10px;
    padding-bottom: 65px;
    &__left {
        img {
            padding-left: 20px;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 206px;
        padding-left: 53px;
        h1 {
            text-align: center;
            font-Weight: 800;
            font-Size: 36px;
            box-sizing: border-box;
            color: white;
        }
        p {
            text-align: center;
            font-weight: 400;
            font-size: 28px;
            line-height: 42px;
            box-sizing: border-box;
            color: white;
        }
        button {
            margin-left: 74px;
            margin-top: 35px;
            border: 1px solid white;
            border-radius: 35px;
            background-color: white;
            padding: 2px 5px;
            color: #ED6D09;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 20px;
        }
    }
}

.where-does-it-come-from-section {
    padding-top: 72px;
    padding-bottom: 40px;
    &__heading {
        h1 {
            font-weight: 600;
            font-size: 45px;
            text-align: center;
        }
    }
    &__content {
        margin-top: 60px;
    }
    &__stats {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            font-weight: 500;
            font-size: 62px;
        }
        h2 {
            font-weight: 500;
            font-size: 35px;
        }
    }
    &__text {
        text-align: center;
        margin-top: 42px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    &__img-1 {
        background-image: url('/assets/images/where-does-section-bg1.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    &__img-2 {
        background-image: url('/assets/images/where-does-section-bg2.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    &__img-3 {
        background-image: url('/assets/images/where-does-section-bg3.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.better-product-section {
    padding-top: 41px;
    padding-bottom: 77px;
    background-image: url('/assets/images/better-product-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__text {
        h1 {
            font-weight: 600;
            font-size: 45px;
            padding-left: 35px;
        }
        p {
            width: 359px;
            font-weight: 500;
            font-size: 18px;
            padding-top: 14px;
            padding-left: 35px;
            line-height: 200%;
            margin: 0px;
        }
    }
}

.uniqueness-section {
    padding-top: 60px;
    background-image: url('/assets/images/more-unique-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    &__heading {
        text-align: center;
        font-weight: 600;
        font-size: 45px;
        margin: 0px;
    }
    &__content {
        margin-top: 64px;
        margin-left: 2px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 20px;
    }
    &__card {
        display: flex;
        border: 0.5px solid withe;
        border-radius: 25px;
        background-color: white;
        h3 {
            font-weight: 700;
            font-size: 24px;
            padding-top: 18px;
            padding-left: 30px;
        }
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 200%;
            padding-top: 3px;
            padding-left: 30px;
        }
    }
}

.more-unique-things-section {
    background-color: rgba(102, 102, 102, 0.6);
    color: white;
    padding-bottom: 85px;
    padding-top: 40px;
    p {
        padding: 0px;
        line-height: 2.5;
    }
}

.happy-earners-section {
    padding-top: 66px;
    padding-bottom: 60px;
    &__heading {
        h1 {
            font-weight: 600;
            font-size: 45px;
            text-align: center;
        }
    }
    &__content {
        padding-top: 80px;
    }
    &__card {
        background-image: url('/assets/images/happy-earners-section.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 20px;
        height: 460px;
        border-radius: 25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        img {
            padding-top: 40px;
            padding-left: 121px;
        }
        p {
            width: 274px;
            height: 224px;
            padding-left: 34px;
            padding-top: 26px;
            font-weight: 500;
            font-size: 16px;
            line-height: 174%;
        }
        h3 {
            padding-top: 10px;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
        }
        h6 {
            text-align: center;
            font-weight: 500;
            font-size: 16px;
        }
        &:hover {
            background-image: url('/assets/images/happy-earners-section1.png');
            margin-top: -20px;
            p {
                color: white;
            }
            box-shadow:none;
        }
    }
}

.bee-string-footer {
    background-image: url('/assets/images/footer-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    &__logo {
        img {
            margin-bottom: 3px;
            padding-top: 15px;
            width: 231px;
            height: 105px;
        }
    }
    &__link {
        p {
            padding-top: 10px;
            padding-left: 6px;
            width: 221px;
            height: 155px;
            font-weight: 500;
            font-size: 16px;
            line-height: 200%;
        }
        img {
            padding-top: 66px;
            padding-left: 3px;
        }
    }
    &__box {
        h5 {
            padding-top: 10px;
            font-Weight: 600;
            font-size: 22px;
        }
        ul {
            font-weight: 400;
            font-size: 20px;
            line-height: 192%;
            padding: 0px;
            margin: 0px;
            list-style-position: inside;
        }
        a {
            font-weight: 400;
            font-size: 20px;
            line-height: 2;
            color: #108ECBB0;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__copy-right {
        margin-top: 70px;
        margin-bottom: 38px;
        background-color: black;
        color: white;
        font-Weight: 500;
        font-size: 14px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 14px 0px;
        p {
            margin: 0px;
        }
    }
}